/*Here is where you style everything!
Reference your projects from the summer
If you don't have a summer project, let me know!*/
body {
    font-family: 'Montserrat Alternates', sans-serif;

    background-color: black;
}

h1 {
    font-family: 'Vidaloka', serif;

    color: pink;
}
